<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-3">Welcome to CC Electronic-Shop</h1>
    <h1>{{ name }}</h1>
    <p class="lead">THE ONLINE MEGASTORE</p>
    <hr class="my-2">
  </div>
</div>
<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">
        Products
      </h4>
      <button class="btn btn-primary"[disabled]
      ="allowNewProduct">Add new product </button>
      <div class="row" style="font-weight:bolder;border-bottom:1px solid lightgray">
        <div class="col-5">Title</div>
        <div class="col">Product Type</div>
        <div class="col">Price</div>
      </div>
        
      <div class="row" style="border-bottom:1px solid lightgray" *ngFor="let product of products">
        <div class="col-5">{{ product.title }}</div>
        <div class="col">{{ product.productType }}</div>
        <div class="col">{{ product.price | currency : 'INR' }}</div>
      </div>
    </div>
  </div>
</div>